# Development specific:
/.rspec_status
/.bundle

# Temporary data should not be added to the repository:
/tmp

# Node modules are 3rd party dependencies which can be fetched easily:
/node_modules

# This file should only ever exist on production, and may contain sensitive information:
/config/environment.yaml

# Ignore resized gallery photos:
/public/_gallery
